
<div class="top" layout="column" offset-gt-lg="40" offset-gt-md="20" offset-gt-sm="10" offset-sm="0" offset="0">
    <h1 class="center">Welcome!</h1>
    <h2 class="center">Please pick one of the following!</h2>

</div>

<div layout="row" flex class="md-padding center">

    <div flex="20" flex-sm="15" offset-gt-lg="35" offset-gt-md="15" offset-gt-sm="5" offset-sm="5">
        <a href="#/person">Person</a>
    </div>

    <div flex="20" flex-sm="15">
        <a href="#/occasion">Occasion</a>
    </div>

    <div flex="25" flex-sm="15">
        <a href="#/newperson">New Person</a>
    </div>

    <div flex="20" flex-sm="20">
        <a href="#/newoccasion">New Occasion</a>
    </div>

    <div flex="25" flex-sm="15">
        <a href="#/newgift">New Gift</a>
    </div>

</div>