
<md-content>
<form action="/register" method="post">
    <div>
        <label for="username">Username:</label>
        <input type="text" name="username" id="username"/>
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" name="password" id="password"/>
    </div>

    <div>
        <label for="firstName">First Name:</label>
        <input type="text" name="firstName" id="firstName"/>
    </div>
    <div>
        <label for="lastName">Last Name:</label>
        <input type="text" name="lastName" id="lastName"/>
    </div>
    <div>
        <label for="email">email:</label>
        <input type="email" name="email" id="email"/>
    </div>


    <div>
        <input type="submit" value="Register"/>
    </div>
</form>
</md-content>