

<div layout="column" offset-gt-lg="40" offset-gt-md="20" offset-gt-sm="10" offset-sm="0" offset="0">
    <div class="center">

        <md-content>
            <form name="RegisterForm" action="/register" method="post">
                <md-input-container>
                    <label for="username">Username:</label>
                    <input type="text" name="username" id="username"/>
                </md-input-container>
                <md-input-container>
                    <label for="password">Password:</label>
                    <input type="password" name="password" id="password"/>
                </md-input-container>
                <md-input-container>
                    <label for="firstName">First Name:</label>
                    <input type="text" name="firstName" id="firstName"/>
                </md-input-container>
                <md-input-container>
                    <label for="lastName">Last Name:</label>
                    <input type="text" name="lastName" id="lastName"/>
                </md-input-container>
                <md-input-container>
                    <label for="email">email:</label>
                    <input type="email" name="email" id="email"/>
                </md-input-container>


                <div>
                    <input type="submit" value="Register"/>
                </div>
            </form>
        </md-content>
    </div>
</div>



